<div class="row">
    <div class="col-md-12">
        <div class="widget-container fluid-height">
            <div class="widget-content padded">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- QOOPHP_SIDER -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:320px;height:100px"
                     data-ad-client="ca-pub-6213686553141996"
                     data-ad-slot="1180022253"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
</div>