<div class="login-wrapper">
        <form action="" method="post">
            <div class="form-group">{{flash.output()}}</div>
            <div class="form-group">
                <input class="form-control" name="username" AUTOCOMPLETE="OFF" placeholder="用户名/邮箱地址" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="password" AUTOCOMPLETE="OFF"  placeholder="密码" type="password">
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-block btn-primary">
            </div>
        </form>
</div>
