<div class="row">
    <div class="col-md-12">
        <div class="widget-container fluid-height">
            <div class="widget-content padded">
                <h2>友情链接</h2>
                <div class="row">
                    <div class="col-md-6">
                        <a href="http://wwpeng.com" target="_blank">@文鹏老湿</a>
                    </div>
                    <div class="col-md-6">
                        <a href="http://a-ou.net" title="简单图片分享" target="_blank">啊哦-简单图片分享</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>