<div class="row">
    <div class="col-md-12">
        <div class="widget-container  fluid-height">
            <div class="heading">
                <i class="icon-reorder"></i>Tag 列表
            </div>

            <div class="widget-content padded">
                {% for item in tag%}
                <a class="btn btn-link" href="{{url.get(['tag':item.name, 'for':'tag-page'])}}" title="{{item.name}}">
                    {{ item.name }}[{{ item.hot}}]
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>